* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Verdana, sans-serif;
    
    }
    body{
      background : linear-gradient(to right#dfe9f3,#ffffff);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100lvh;
    }
    .container{
      border: 1px solid ;
      width: 90%;
      max-width: 420px;
      text-align: center;
      padding: 40px 30px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

    }
    h2{
      font-size: 28px;
      color: #2c3e50;
      margin-bottom: 25px;
    }
    input{
      width: 100%;
      padding: 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      margin-bottom: 20px;
      transition: border-color 0.3s;

    }
    input:focus{
      border-color: #3498db;
      outline: none;

    }
    .btn-group{
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 25px;
    }
    button{
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      transition: 0.3s;

    }
    .submit-btn{
      background-color: #3498db;
      color: white;
    }
    .submit-btn:hover{
      background-color: #2980b9;
    }
    .clear-btn{
      background-color: #e74c3c;
      color: white;
    }
    .clear-btn:hover{
      background-color: #c0392b;
    }
    .qr-box{
      padding: 15px;
      border: 2px dashed #ccc;
      border-radius: 12px;
      background-color: #f9f9f9;
      display: none;
      justify-content: center;
      align-items: center;
    }
    @media (max-width : 500px) {
      .btn-group{
        flex-direction: column;
      }
      button{
        width: 100%;
      }
      
    }